@page "/"

<h1>NetPanel Home</h1>

<div class="btn-group-vertical">
    <a class="btn btn-outline-primary" href="/myapps">My apps</a><br />
    <a class="btn btn-outline-primary" href="/frameworks">Frameworks</a><br />
    <a class="btn btn-outline-primary" href="/nginxp">Proxy Configuration</a><br />
    <a class="btn btn-outline-primary" href="/vshell">OS Shell</a><br />
</div>