@page "/vshell"
@using System.Diagnostics
@using MongoDB.Driver
@using NetPanel.Data
    <div class="container" style="display: table-cell; justify-content: center">
        <h2>Shell</h2>
        <p>@ShellContent</p>

        <textarea placeholder="Enter linux command"></textarea>
        <button class="btn btn-outline-info" @onclick="@(() =>
                                                   {
                                                       try
                                                       {
                                                           ExecuteShell();
                                                           CommandHist.Add(Command);
                                                       }
                                                       catch (Exception e)
                                                       {
                                                           info = e.ToString();
                                                       }
                                                   })">
            Execute
        </button>

        <hr />
        <label>@info</label>

        <hr />
        <ul>
            @foreach (var i in CommandHist)
            {
                <li>@i</li>
            }
        </ul>
        <hr />
    </div>
@code {
    string info = string.Empty;
    public void ExecuteShell()
    {
        ProcessStartInfo startInfo = new ProcessStartInfo() { FileName = "/bin/bash", Arguments = $"{Command}", };
        Process proc = new Process() { StartInfo = startInfo, };

        Task.Run(() =>
        {
            proc.Start();
            while (!proc.HasExited)
            {
                CommandOutput += "\n" + proc.StandardOutput.ReadLine();
            }
        });

        proc.Dispose();
    }

    static string CommandOutput = string.Empty;

    List<string> CommandHist = new List<string>();

    static string ShellContent = string.Empty;
    string Command = string.Empty;
}
