@page "/newapp"
@using System.IO
@using NetPanel.Data
@using System.Linq;
@using MongoDB.Driver
<h3>New Hosted App</h3>

<div class="btn-group-vertical container">
    <input placeholder="App Name" @bind-value="HostedApplication.Name"/>
    <textarea placeholder="Description" @bind="HostedApplication.Description"></textarea>
    <label>@info</label>
    <button class="btn btn-success" @onclick="@(() => {
                            if (HostedApplication.Name.Length < 3)
                            {
                                info = "Name must be more than 4 characters";
                                Task.Run(() => {
                                    Task.Delay(2500).Wait();
                                    InvokeAsync(() => info = string.Empty);
                                });
                                return;

                            }
                            if (Db.HostedApps.CountDocuments(x=>x.Name == HostedApplication.Name) > 0)
                            {

                                info = "Name already exists";
                                Task.Run(() => {
                                    Task.Delay(2500).Wait();
                                    InvokeAsync(() => info = string.Empty);
                                });
                            }
                            else
                            {
                                Db.HostedApps.InsertOne(HostedApplication);

                                if (!Directory.Exists($"/home/netpanelx/apps/{HostedApplication.Id}"))
                                    Directory.CreateDirectory($"/home/netpanelx/apps");

                                info = $"Successfully created App: {HostedApplication.Id} with name {HostedApplication.Name}";
                                Task.Run(() => {
                                    Task.Delay(2500).Wait();
                                    InvokeAsync(() =>
                                    {
                                        HostedApplication = new HostedApplication();
                                        info = string.Empty;
                                    });

                                });
                            }
                        })">Create App</button>
</div>

@code {
    string info = String.Empty;

    public HostedApplication HostedApplication = new HostedApplication();
}
